html {
  font-size: 62.5%;
  --header3: calc(3rem + 1vw);
  --body-text: calc(1.1rem + 1vw);
  --text: calc(1.5rem + 1vw);
  --big: calc(2.4rem + 1vw);
  --background-color: #414141;
  --gray-text: #525252;
}

body {
  font-family: sans-serif;
  font-size: var(--body-text);
}

.day-theme {
  background: beige;
  color: #0f0f0f;
}

.night-theme {
  background: #0f0f0f;
  color: beige;
}
