.App {
  font-family: sans-serif;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

h3 {
  text-align: center;
  font-size: var(--header3);
}

.menu {
  color: rgb(119, 119, 117);
}

.burger-menu {
  min-height: 3vh;
}

.burger-menu-icon-left {
  cursor: pointer;
  padding-right: 95%;
}

.burger-menu-icon-right {
  cursor: pointer;
  padding-left: 95%;
}
