.App {
  font-family: sans-serif;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

h3 {
  text-align: center;
  font-size: var(--header3);
}

.menu {
  color: #606070;
}

.burger-menu {
  min-height: 3vh;
}

.burger-menu-icon-left {
  cursor: pointer;
  margin-right: 95%;
}

.burger-menu-icon-right {
  cursor: pointer;
  margin-left: 95%
}

.settings {
  text-align: center;
  width: 80%;
  margin: auto
}

.settings-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.5vh;
}

.settings-item label {
  width: 50%;
  text-align: left;
}

.settings-item input, select {
  width: 40%;
  margin-left: 5%;
}
