.App {
  font-family: sans-serif;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

html {
  font-size: 62.5%;
  --header3: calc(3rem + 1vw);
  --body-text: calc(1.1rem + 1vw);
  --text: calc(1.5rem + 1vw);
  --big: calc(2.4rem + 1vw);
  --background-color: #414141;
  --gray-text: #525252;
}

body {
  /* Night */
  background: #0f0f0f;
  color: beige;
  /* Day */
  /*background: beige;*/
  /*color: #0f0f0f;*/
  font-family: sans-serif;
  font-size: var(--body-text);
}

h3 {
  text-align: center;
  font-size: var(--header3);
}

.menu {
  color: rgb(119, 119, 117);
}

.burger-menu {
  display: flexbox;
  min-height: 3vh;
}

.burger-menu-icon-left {
  cursor: pointer;
  padding-left: 95%;
}

.burger-menu-icon-right {
  cursor: pointer;
  padding-right: 95%;
}
